<%= form_for(@manager) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>:<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <br><%= f.label :"format (CD, Tape, MP3, 8TRACK, ETC)" %>:<br>
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <br><%= f.label :"length (hh:ss)" %>:<br>
    <%= f.time_select :length %>
  </div>
  <div class="field">
    <br><%= f.label :"size (number Only)" %>:<br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <br><%= f.label :"Write: kb, mb, gb, or tb" %><br>
    <%= f.text_field :sizeDescription %>

  </div>
  <br><div class="actions">
    <%= f.submit %>
  </div><br>
<% end %>
