<p id="notice"><%= notice %></p>

<h1 align='center'>Showing Music Collection</h1>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @manager.format %>
</p>

<p>
  <strong>Length:</strong>
  <%= @manager.length %>
</p>

<p>
  <strong>Size:</strong>
  <%= @manager.size %>

  <%= @manager.sizeDescription %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
