<%= form_for(@music_collection) do |f| %>
  <% if @music_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music_collection.errors.count, "error") %> prohibited this music_collection from being saved:</h2>

      <ul>
      <% @music_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
