<p id="notice"><%= notice %></p>

<h1>Listing Music Collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th>Length</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @music_collections.each do |music_collection| %>
      <tr>
        <td><%= music_collection.name %></td>
        <td><%= music_collection.format %></td>
        <td><%= music_collection.length %></td>
        <td><%= music_collection.size %></td>
        <td><%= link_to 'Show', music_collection %></td>
        <td><%= link_to 'Edit', edit_music_collection_path(music_collection) %></td>
        <td><%= link_to 'Destroy', music_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music collection', new_music_collection_path %>
