<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @music_collection.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @music_collection.format %>
</p>

<p>
  <strong>Length:</strong>
  <%= @music_collection.length %>
</p>

<p>
  <strong>Size:</strong>
  <%= @music_collection.size %>
</p>

<%= link_to 'Edit', edit_music_collection_path(@music_collection) %> |
<%= link_to 'Back', music_collections_path %>
